#! /bin/bash

export PATH="/usr/local/bin:/usr/bin:/bin"

dir="/root/dbs"
mkdir -p $dir;

if hash pg_dump 2>/dev/null; then
  databases=$(sudo -u {{ ansible_ssh_user }} psql -l | grep {{ ansible_ssh_user }} | awk {'print $1'})

  for database in $databases; do
    sudo -u {{ ansible_ssh_user }} pg_dump $database -Fc > $dir/$database.sql
  done
fi

if hash mysqldump 2>/dev/null; then
  mysqldump -u root --all-databases > $dir/mysql.sql;
fi
